SILICONFLOW_API_KEY=
SPEECH_EMOTION_MODEL=superb/wav2vec2-base-superb-er
SPEECH_EMOTION_CACHE_DIR=/root/autodl-tmp/models/speech-emotion
SOURCE_IMAGE=/root/autodl-tmp/static/image.png
ECHOMIMIC_V3_DIR=/root/autodl-tmp/EchoMimicV3
ECHOMIMIC_V3_PYTHON=/root/miniconda3/envs/echomimic_v3/bin/python
